<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BLOG CESCA</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="app\assets\stylesheets\pages.scss" rel="stylesheet"
    </head>
    <body>
        <h1>BLOG CESCA</h1>
        <img src="https://scontent.fqcj4-1.fna.fbcdn.net/v/t1.0-9/81722914_2532213090379639_7318683873645166592_n.jpg?_nc_cat=108&_nc_sid=dd9801&_nc_oc=AQnBUHVFeexHKQpicozQO_FAdZ63EDjZu6-1A4YOKEYYk28pZ0u6cKNQL8dTgmBmoTc&_nc_ht=scontent.fqcj4-1.fna&oh=11f9535ba85a9c85d9f9bbc65343dce6&oe=5EBD5E61" alt="BEAUTY & LIFESTYLE CESCA's BLOG with Colourful Background">
        <p>Cesca Civita is a leading influencer in the Brazilian markets. She focuses on the segments of</p>

        <ul>
            <li>Travel</li>
            <li>Lifestyle</li>
            <li>Luxury Goods</li>
        </ul>

        <p>and influences the lives of millions of Brazilians. She was born in a poor family and helped her mother, who worked at an upper income household. Being exposed to the luxury trends and the extravagant life of Brazilian semi-royalty, Cesca started writing about what life as a Brazilian oligarch is. The millions of views that her first blog had, gave her the means to travel around the world and become one of these oligarchs. Now Cesca hopes to inspire other woman to find their own way towards success.</p> 
        
        <p>Follow Cesca's <a href="https://www.instagram.com/cescacivita/">Instagram</a> here.</p>
    </body>
</html>    
